.App {
  padding: 1rem 10%;
  background-color: lightgrey;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.card {
  flex-grow: 1;
  min-width: 200px;
  width: 50px;
  text-align: center;
  padding: 40px 0;

  color: blue;
  background-color: lightyellow;
  border-radius: 10px;
}

ul {
  list-style-type: georgian;
}

